.edit {
    height: 65vh;
}
.photo {
    background-color: #CED4DA;
    border: 2px solid #CED4DA;
    border-radius: 100%;
}
.line {
    border-bottom: 2px solid #C4C4C4;
    padding-bottom: 10px;
    padding-right: 0px;
}